@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Believe in forever.
    </h1>
    <p>
        Whether we're insuring complex risks, managing diverse investments, or providing a home for great businesses, one thing has fueled our success over the last 90 years—doing what’s right to win over the long term. This is the Markel Style, and it's our enduring commitment to you.
        </br>
        We believe in forever so that we can serve you.
    </p>
</div>
